<html>

<head>
  <title>
    Demo Server
  </title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <script type="text/javascript" src="script/docker_script.js"></script>
  <script type="text/javascript" src="script/modal.js"></script>
</head>

<body>
  <% oboxList = Object.keys(data.Obox)%>
    <% for (var i = 0; i < oboxList.length; i++) { %>
      <button id="obx" value="<%= oboxList[i]%>" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">
      <%= oboxList[i] %>
    </button>
      <% } %>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">

              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">카메라 추가하기</h4>
              </div>

              <div class="modal-body">
                <input type="hidden" id="obox" value="">
                <input type="radio" name="image" value="kerberos"> Kerberos<br>
                <input type="radio" name="image" value="shinobi"> ShinobiZonminder<br>
                <input type="radio" name="image" value="zoneminder"> Zoneminder<br>
                <div>
                  <label>카메라 이름: </label>
                  <input type="text" id="name">
                  <br>
                  <label>RTSP URL: </label>
                  <input type="text" id="rtsp">
                </div>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-primary" onClick='createContainer()'>Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>

            </div>
          </div>
        </div>

</body>

</html>
